<%= form_for @product, :html => {:multipart => true }   do |f| %>
  <% if @product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@product.errors.count, "error") %> prohibited this product from being saved:</h2>

      <ul>
      <% @product.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :price %><br>
    <%= f.text_field :price %>
  </div>
  <div class="field">
    <%= f.label :isused %><br>
    <%= f.check_box :isused %>
  </div>
  <div class="field">
    <%= f.label :category %><br>
    <%= f.text_field :category %>
  </div>
  <div class="field">
     <%= f.label :description %><br>
    <td><%=text_area_tag "ad[description]" ,@ad.description ,:rows => 10, :cols => 25 %></td>
   </div>
  <div class="field">
    <%= f.label :dateofpurchase %><br>
    <%= f.date_select :dateofpurchase %>
  </div>
  <div class="field">
      <%= f.label :image %><br>
      <%= f.file_field :image %>
   </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
